* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.camera {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.player {
    top: 379px;
    left: 50px;
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: blue;
    transition: all 100ms;
}

.playerJump {
    top: 200px;
}

.enemy {
    top: 430px;
    left: 1300px;
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: red;
    animation: moveLeft 2s ease-out infinite;
}

.ground {
    margin-top: 80vh;
    width: 100vw;
    height: 20vh;
    position: absolute;
    background-color: brown;
}

.jump {
    position: absolute;
    margin-top: 80vh;
    margin-left: 90vw;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 200ms;
}

.jump:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}

/* .playerDown {
    margin-top: 65vh;
} */

@keyframes moveLeft {
    0% {
        left: 1300px;
    }

    100% {
        left: -100px;
    }
}